<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${status}">404</title>
    <link href="/webjars/materializecss/0.96.0/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
</head>
<body>
    <div class="row">
        <h2 class="indigo-text center" th:text="${error}">Site Does not exists</h2>
        <p class="col s12 center" th:text="${message}">
            Request page does not exists
        </p>
    </div>
</body>
</html>