<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <title>Witaj na Twitterze</title>
</head>
<body>
<div class="row" layout:fragment="content">

    <h2 class="indigo-text center" th:text="|Wyniki wyszukiwania ${search}|">Tweety</h2>

    <ul class="collection">
        <li class="collection-item avatar" th:each="tweet : ${tweets}">
            <img th:src="${tweet.profileImageUrl}" alt="" class="circle"/>
            <span class="title" th:text="${tweet.user}">Użytkownik</span>

            <p th:text="${tweet.text}">Treść tweeta</p>
        </li>
    </ul>
</div>
</body>
</html>
