<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <meta charset="UTF-8"/>
    <title>Tweet search result</title>
    <link href="webjars/materializecss"/>
</head>
<body>
    <div class="row" layout:fragment="content">
        <h2 class="indigo-text center card-panel teal lighten-2" th:text="|Search results for: ${search}|">Tweety</h2>
        <ul class = "collection">
            <li class = "collection-item avatar" th:each="tweet: ${tweets}">
                <img th:src="${tweet.user.profileImageUrl}" alt="" class="circle"/>
                <span class ="title" th:text="${tweet.user.name}">User</span>
                <p th:text="${tweet.text}">Tweet content</p>
            </li>
        </ul>
    </div>
</body>
</html>